/* unvisited link */
a:link {
  color: #3254a5;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #3254a5;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #3254a5; /* Anciennement #FFFFFF */
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #3254a5; /* Anciennement #F8F8F8 */
  text-decoration:none;
}

body {
  color: #272727; /* Anciennement #C8C8C8 */
  font-family: arial,sans-serif;
  font-size: 14px;
  background-color: #F2F2F3; /* Anciennement #272727 ou #DFE2DB */
}

h2 {
  color: #272727;
  font-size: 16px;
  /*font-weight: normal;*/
  background-color: #F2F2F3;
}
