/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5;
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #3a3a3a;
  font-weight: normal;
}

header a, a:hover {
  color: #3a3a3a;
}
header a:hover {
  color: #3a3a3a;
  text-decoration: underline;
}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 80%;
  color: #aaa;
}

footer a {
  color: #aaa;
}
footer a:hover {
  color: #aaa;
}

a {
  color: #006ebf;
  text-decoration: none;
}
a:hover {
  color: #006ebf;
  text-decoration: underline;
}

header {
  padding-top: 35px;
  padding-bottom: 0px;       /* AA */
}

header h1 {
  margin-bottom: 0px;     /* AA */
}

#container {
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px;
}

.inner {
  width: 800px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}


p.subsubtitle {        /* AA */
  line-height: 1.25;   /* AA */
  margin-top: -1.0em;  /* AA */
  font-size: 70%;     /* AA */
}                      /* AA */

p.news-par {             /* AA */
  line-height: 1.25;     /* AA */
  margin-bottom: 1.0em;  /* AA */
}                        /* AA */

p.ref-par {
  line-height: 1.25;
  font-size:95%;
}

.subtitle {            /* AA */
  text-align: center;  /* AA */
  font-size: 1.05em;   /* AA */
  margin-bottom: 0.5em;/* AA */
}                      /* AA */

p.menu {
  text-align: center;
  font-size:1.2em;
  margin-top: -2em;
  margin-bottom: -1.5em;
}

/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 3em;
  padding-bottom: 3em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #ebebeb;      /* AA */
  margin-bottom: -2em;
}

td {
  border: 0px solid #ebebeb;      /* AA */
  text-align: left;               /* AA */
  vertical-align: top;         /* AA */
  /*vertical-align: middle;         /* AA */*/
}

#hpadding                /* AA */
{                        /* AA */
  padding: 0 5px 0 5px;  /* AA */
}                        /* AA */

#vpadding                /* AA */
{                        /* AA */
  padding: 5px 0 5px 0;  /* AA */
}                        /* AA */


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  margin-bottom: 20px;
}


/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 800px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 800px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  #no-mobile {   /* AA */
    display: none;  /* AA */
  }                 /* AA */
  #hpadding {        /* AA */
    display: none;  /* AA */
  }                 /* AA */
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
