/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5;
  /* background: #f0f0f0; */
  background: #fafaff;
  /* background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat; */
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, serif; */
  /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); */
  color: #3a3a3a;
  font-weight: normal;
}

header a, a:hover {
  color: #3a3a3a;
}
header a:hover {
  color: #3a3a3a;
  text-decoration: underline;
}

footer {
  background: transparent;
  /* background: transparent url('../images/hr.png') 0 0 no-repeat; */
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 80%;
  color: #aaa;
}

footer a {
  /* color: #084594; */
  color:inherit;
  /* color: #aaa; */
}
footer a:hover {
  /* color: #084594; */
  /* color: #aaa; */
  color:inherit;
  text-decoration: none;
}

a {
  color: #084594;
  /* color: #006ebf; */
  text-decoration: none;
}
a:hover {
  color: #084594;
  /* color: #006ebf; */
  text-decoration: underline;
}

header {
  padding-top: 35px;
  padding-bottom: 0px;       /* AA */
}

header h1 {
  margin-bottom: 0px;     /* AA */
}

#container {
  background: transparent;
  /* background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat; */
  min-height: 595px;
}

.inner {
  width: 800px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}


p.subsubtitle {        /* AA */
  line-height: 1.25;   /* AA */
  margin-top: -1.0em;  /* AA */
  font-size: 70%;     /* AA */
}                      /* AA */

p.news-par {             /* AA */
  line-height: 1.25;     /* AA */
  margin-bottom: 1.0em;  /* AA */
}                        /* AA */

p.ref-par {
  line-height: 1.25;
  font-size:95%;
}

.subtitle {            /* AA */
  text-align: center;  /* AA */
  font-size: 1.05em;   /* AA */
  margin-bottom: 0.5em;/* AA */
}

.current_members {      /* AA */
  text-align: left;     /* AA */
  font-size: 1.05em;    /* AA */
  margin-bottom: 0em;/* AA */
  font-weight: bold;    /* AA */
}                       /* AA */

.previous_members {      /* AA */
  text-align: left;     /* AA */
  font-size: 1.05em;    /* AA */
  margin-bottom: 0.5em;/* AA */
  font-weight: bold;    /* AA */
}                       /* AA */

p.menu {
  text-align: center;
  font-size:120%;
  margin-top: -2em;
  margin-bottom: -1.5em;
}

/* COMMON STYLES */

.column {
  float: left;
}

.members {
  width: 33.33%;
  text-align: center;
  padding-top: 2em;
}

.headerleft {
  width: 33.33%;
  padding-right: 1.66%;
}

.headerright {
  width: 65%%;
  display:block;
  word-break:break-all;
}

/*.row {
  padding-top: 3em;
}*/

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.onlymobile {
  display: none;
}

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 3em;
  padding-bottom: 3em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #ebebeb;      /* AA */
  margin-bottom: -2em;
}

td {
  border: 0px solid #ebebeb;      /* AA */
  text-align: left;               /* AA */
  vertical-align: top;         /* AA */
  /*vertical-align: middle;         /* AA */*/
}

#hpadding                /* AA */
{                        /* AA */
  padding: 0 5px 0 5px;  /* AA */
}                        /* AA */

#vpadding                /* AA */
{                        /* AA */
  padding: 5px 0 5px 0;  /* AA */
}                        /* AA */


sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}



/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  margin-bottom: 20px;
}


/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 800px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 800px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  #no-mobile {   /* AA */
    display: none;  /* AA */
  }                 /* AA */
  #hpadding {        /* AA */
    display: none;  /* AA */
  }                 /* AA */
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

 /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
  .members {
    text-align: left;
    padding-top: 0em;
  }
  .nomobile {
    display: none;
  }
  .onlymobile {
    display: block;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
